# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\coelh\Desktop\Project-Bue-book\Java\Exemplos para estudos SPRING\spring-mvc-examples-master\NotepadDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
